@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&family=Shizuru&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
}
body{
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: space-around; */
    align-items: center;
background-color: hsl(213.5, 91.5%, 9.2%);
  color: hsl(236.8, 100%, 85.1%);
}
body::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    /* background: url("images/pattern-hills.svg") bottom; */
    background-size: auto;
    background-repeat: no-repeat;
}
body::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    background: url("images/bg-stars.svg");
    background-size: auto;
    background-repeat: no-repeat;

}
main{
    /* margin-top: 2rem; */
}
h1{
  font-family: 'Shizuru', cursive;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 7px;
    font-size: 32px;
    margin: 10px auto;
}
.counter{
    display: flex;
    margin-top: 15px;
    font-weight: 700;
    width: 100%;
justify-content: space-around;
    /* color: hsl(237, 18%, 59%); */
    color: hsl(236.8, 100%, 85.1%);
    text-transform: uppercase;
}
aside{
    margin-right: 2.5rem;
    letter-spacing: 4px;
}
.counter aside{
    position: relative;
    overflow-x: hidden;
}
aside:last-child{
    margin-right: unset;
}
.icons{
    margin: 10px 0;
}
.icons img{
    margin-right: 1.5rem;
}
.icons img:last-child{
    margin-right: unset;
}
.card{
    color: hsl(345, 95%, 68%);
    font-size: 4rem;
    box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.308);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-bottom: 1.4rem;
    border-radius: 5px;
    height: 120px;
    background-color: hsl(236, 21%, 26%);
    position: relative;
    overflow-x: hidden;
}
.card h1{
    color: hsl(345, 95%, 68%);
    font-size: 4rem;
}
.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-style: preserve-3d;
    height: 50%;
    /* z-index: -1; */
    background-color: #00000026;
    /* animation: rot 3s .5s ease infinite; */
}
@keyframes rot{
    100%{
        /* transform: rotateX(90deg); */
        bottom: 0;
        top: unset;
    }
}

.left-circle, .right-circle{
    position: absolute;
    top: 33%;
    width: 10px;
    z-index: 4;
}
.left-circle{
    left: -5px;
}
.right-circle{
    right: -5px;
}
.remain{
  font-family: "Shizuru", cursive;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
  place-items:center;
}

footer{
  margin: 1rem auto;
}
.icons img:hover{
    filter: invert(46%) sepia(94%) saturate(788%) hue-rotate(310deg) brightness(100%) contrast(97%);
}
.attribution {
  margin-top: 10px;
font-size: 14px;
     text-align: center;
     }
.attribution a {
 color:  #fb6087;
text-decoration: none;
}
.pic-holder{
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  max-width: 400px;
  height: max-content;
  margin: 5px auto;
}
.img-new{
  width: 100%;
  height: auto;
}

/* mobile version */
@media screen and (max-width:640px){
    header{
        max-width:300px;
    }
    .card{
        width: 65px;
        height: 65px;
        font-size:2rem;
        margin-bottom: 1rem;
    }
    .card h1{
        font-size: 1.8rem;
    }
    aside{
        margin-right:1rem;
        display: grid;
        place-items: center;
    }
    aside small{
        font-size:8px;
        letter-spacing: 2px;
    }
    .counter{
        /* margin-top: 5rem; */

    }
}
@media screen and (max-width: 300px){
.card {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    margin-bottom: 1rem;
}
}
